/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
  }
  
  .footer a {
    color: #1e90ff;
  }
  
  .footer a:hover {
    color: #ff6347;
  }
  